<div class="fixed-left-menu-wrapper" id="sliding">
    <ul>
        <li class="text-center"><a href="/"><img src="/assets/images/logo.png" alt="logo"></a></li>
        <li class="nav_link">
            <a data-toggle="collapse" data-target="#demo" href="/"><i class="fas fa-th-large"></i>
                <div class="hide-wraper"> Home </div> <span class="fas fa-caret-right"></span>
            </a>
            <!-- <ul id="demo" class="collapse">
                <li><a href="skills.html"><i class="fas fa-user-tie"></i> Skills</a></li>
                <li><a href="school.html"><i class="fas fa-user-tie"></i> School</a></li>
                <li><a href="degree.html"><i class="fas fa-user-tie"></i> Degree</a></li>
                <li><a href="job-title.html"><i class="fas fa-user-tie"></i> Job Title</a></li>
                <li><a href="companies.html"><i class="fas fa-user-tie"></i> Companies</a></li>
                <li><a href="country.html"><i class="fas fa-user-tie"></i> Countries</a></li>
            </ul> -->
        </li>
        <!-- active_nav -->
        <li class="nav_link">
            <a href="/users">
                <i class="fas fa-users"></i>
                <div class="hide-wraper"> Users </div> <span class="fas fa-caret-right"></span>
            </a>
        </li>

        <li class="nav_link">
            <a href="/admins">
                <i class="fas fa-users-cog"></i>
                <div class="hide-wraper"> Admins </div> <span class="fas fa-caret-right"></span>
            </a>
        </li>
        <!--
            <li>
                <a href="/email-management"><i class="fas fa-th-large">
                </i> <div class="hide-wraper">Email Management</div> <span class="fas fa-caret-right"></span></a>

            </li>
        -->
        <!--
            <li>
                <a data-toggle="collapse" data-target="#demo2" href="#"><i class="fas fa-user-tie"></i> <div class="hide-wraper">Profile</div> <span class="fas fa-caret-right"></span></a>
                <ul id="demo2" class="collapse">
                    <li><a href="#"><i class="fas fa-user-tie"></i> Menu</a></li>
                    <li><a href="#"><i class="fas fa-user-tie"></i> Menu</a></li>
                    <li><a href="#"><i class="fas fa-user-tie"></i> Menu</a></li>
                    <li><a href="#"><i class="fas fa-user-tie"></i> Menu</a></li>
                    <li><a href="#"><i class="fas fa-user-tie"></i> Menu</a></li>
                </ul>
            </li>
            <li>
                <a data-toggle="collapse" data-target="#demo3" href="#"><i class="fas fa-bell"></i> <div class="hide-wraper">Notification</div> <span class="fas fa-caret-right"></span></a>
                <ul id="demo3" class="collapse">
                    <li><a href="#"> <i class="fas fa-user-tie"></i>Menu</a></li>
                    <li><a href="#"> <i class="fas fa-user-tie"></i>Menu</a></li>
                    <li><a href="#"> <i class="fas fa-user-tie"></i>Menu</a></li>
                    <li><a href="#"> <i class="fas fa-user-tie"></i>Menu</a></li>
                    <li><a href="#"> <i class="fas fa-user-tie"></i>Menu</a></li>
                </ul>
            </li>
            <li>
                <a data-toggle="collapse" data-target="#demo4" href="#"><i class="fas fa-envelope"></i> <div class="hide-wraper">Message</div> <span class="fas fa-caret-right"></span></a>
                <ul id="demo4" class="collapse">
                    <li><a href="#"> <i class="fas fa-user-tie"></i>Menu</a></li>
                    <li><a href="#"> <i class="fas fa-user-tie"></i>Menu</a></li>
                    <li><a href="#"> <i class="fas fa-user-tie"></i>Menu</a></li>
                    <li><a href="#"> <i class="fas fa-user-tie"></i>Menu</a></li>
                    <li><a href="#"> <i class="fas fa-user-tie"></i>Menu</a></li>
                </ul>
            </li>
            <li>
                <a data-toggle="collapse" data-target="#demo5" href="#"><i class="fas fa-briefcase"></i> <div class="hide-wraper">Job Posting</div> <span class="fas fa-caret-right"></span></a>
                <ul id="demo5" class="collapse">
                    <li><a href="#"><i class="fas fa-user-tie"></i> Menu</a></li>
                    <li><a href="#"><i class="fas fa-user-tie"></i> Menu</a></li>
                    <li><a href="#"><i class="fas fa-user-tie"></i> Menu</a></li>
                    <li><a href="#"><i class="fas fa-user-tie"></i> Menu</a></li>
                    <li><a href="#"><i class="fas fa-user-tie"></i> Menu</a></li>
                </ul>
            </li>
            <li>
                <a data-toggle="collapse" data-target="#demo6" href="#"><i class="fas fa-lock"></i> <div class="hide-wraper">Security</div> <span class="fas fa-caret-right"></span></a>
                <ul id="demo6" class="collapse">
                    <li><a href="#"><i class="fas fa-user-tie"></i> Menu</a></li>
                    <li><a href="#"><i class="fas fa-user-tie"></i> Menu</a></li>
                    <li><a href="#"><i class="fas fa-user-tie"></i> Menu</a></li>
                    <li><a href="#"><i class="fas fa-user-tie"></i> Menu</a></li>
                    <li><a href="#"><i class="fas fa-user-tie"></i> Menu</a></li>
                </ul>
            </li>
            <li>
                <a data-toggle="collapse" data-target="#demo7" href="#"><i class="fas fa-sign-out-alt"></i> <div class="hide-wraper">Logout</div> <span class="fas fa-caret-right"></span></a>
                <ul id="demo7" class="collapse">
                    <li><a href="#"><i class="fas fa-user-tie"></i> Menu</a></li>
                    <li><a href="#"><i class="fas fa-user-tie"></i> Menu</a></li>
                    <li><a href="#"><i class="fas fa-user-tie"></i> Menu</a></li>
                    <li><a href="#"><i class="fas fa-user-tie"></i> Menu</a></li>
                    <li><a href="#"><i class="fas fa-user-tie"></i> Menu</a></li>
                </ul>
            </li>
            -->
    </ul>
</div>
